<h1>Viewing Party Lite</h1>

  <%= link_to "Register as a User", new_users_path %>
<% if session[:user_id] %>
  <%= link_to "Log Out", logout_path %>
<% else %>
  <%= link_to "Register as a User", new_users_path %>
  <%= link_to "Login", login_path %>
<% end %>